{% extends "base.html" %}

{% block content %}
<ul>
{% for article in object_list %}
    {% if article.is_root %}
        <li><a href="{% url 'guide:detail' article.pk %}">{{ article.title }}</a></li>
        {% if article.children %}
            <ul>
                {% for child in article.children %}
                    <li><a href="{% url 'guide:detail' child.pk %}">{{ child.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
{% endblock content %}