{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ tip.title }}</h1>
    <form action="{% url 'tips:update' tip.pk %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-outline-danger" href="{% url 'tips:detail' tip.pk%}">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
{% endblock content %}