{% extends "base.html" %}

{% block content %}
<div class="tips">
{% for tip in tips %}
    <div class="card my-3">
        <div class="card-body">
            <a href="{% url 'tips:detail' tip.id %}">
                <h1 class="card-title">{{ tip.title }}</h1>
            </a>
            <p class="card-text">{{ tip.content|truncatewords:100 }}</p>
            <h6 class="card-subtitle text-muted blockquote-footer">{{ tip.author }}</h2>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}